[gcode_macro PRINT_START]
gcode:
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    {% set fl_size = params.SIZE|default("0_0_0_0")|string %}          # first layer size for adaptive bed mesh

    {% if params.BED is not defined or params.HOTEND is not defined  %}
        { action_raise_error("Target bed and hotend temperature must be specified!") }
    {% endif %}

    BED_MESH_CLEAR

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    ENABLE_FILTER                                                      # enable nevermore filter

    M140 S{bedtemp}                                                    # set bed temperature
    M104 S{hotendtemp - 50}                                            # set hotend priming temperature
    M190 S{bedtemp}                                                    # wait for bed temperature

    HEATSOAK_CHAMBER TEMP=36 MAXTIME=25                                # wait for the chamber temperature to reach 36°C for maximum of 25 minutes

    QUAD_GANTRY_LEVEL

    M109 S{hotendtemp}                                                 # wait for hotend final temperature
    CLEAN_NOZZLE
    CALIBRATE_Z

    ADAPTIVE_BED_MESH SIZE={fl_size}                                   # perform an adaptive bed mesh which only probes the used space instead of the entire bed

    CLEAN_NOZZLE
